#------------------------------------------------------------------------
# OSX stuff
#------------------------------------------------------------------------

.DS_Store



#------------------------------------------------------------------------
# Rails folders
#------------------------------------------------------------------------

db/*.sqlite3
log
log/
tmp/