body {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 9pt;
}

a, a:visited { color: #555; }

#content {
	width: 80%;
	margin: 0 auto;  
}

#header {
	background: #ccc;
	padding: 0.5em;
	font-size: 12pt;
}

#main-content {
	min-height: 500px;
	background: #e8e8e8;
	padding: 0.5em;
}

#footer {
	background: #ccc;
  padding: 0.5em;
}

.question {
	margin: 10px;
}
